<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игровой портал</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      лаааааааааааааалаллала
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img src="img/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="" class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a href="about" class="nav-link">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Сервисы</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Команда</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="carousel slide" data-ride="carousel" id="slides">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/slider_0.jpg">
                <div class="carousel-caption">
                    <h1 class="display-2">Игровой портал</h1>
                    <h3>Узнай что-то новое</h3>
                    <button type="button" class="btn btn-info btn-lg">Статистика</button>
                    <button type="button" class="btn btn-info btn-lg">Общение</button>
                </div>
            </div>
        </div>
    </div>
    <div class="countainer-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quaerat delectus minima similique debitis minus veniam est laborum,
                    dolorem sed voluptates repellat aspernatur commodi quidem hic
                    pariatur culpa saepe incidunt nisi! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Molestiae ipsa amet eos sunt alias fugiat exercitationem perferendis voluptas, porro, saepe quasi voluptate.
                    Nulla laboriosam dignissimos ratione porro qui officiis quis?
                </p>
            </div>
        </div>
    </div>
    <div class="countainer-fluid">
        <div class="row text-center alert">
            <div class="col-12">
                <h1 class="display-4">Как это работает</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Cumque impedit magnam, corporis odio incidunt veritatis illum error in ullam reiciendis officia,
                    nihil voluptatem possimus, necessitatibus placeat. Nisi quia autem in! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Atque tempora placeat quisquam commodi sed possimus quo vero modi, soluta blanditiis earum sequi voluptates.
                    Totam doloremque saepe eius dolorum voluptas accusamus!</p>
            </div>
        </div>
    </div>
    <div class="countainer-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-code"></i>
                <h3>HTML5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-bold"></i>
                <h3>Boostrap</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fab fa-css3"></i>
                <h3>CSS3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <figure>
        <div class="fixed-wrap">
            <div id="fixed">

            </div>
        </div>
    </figure>
    <!-- <button type="button" class="btn btn-succeess text-center" data-toggle="collapse" data-target="#stats"></button> -->
    <div class="row bootstrap snippets">
        <div class="col-md-12 col-md-offset-12 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Комментарии</h3>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="Напишите..." rows="3"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right">Post</button>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@MartinoMont</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@LaurenceCorreil</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                                    </p>
                                </div>
                            </li>
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">30 min ago</small>
                                    </span>
                                    <strong class="text-success">@JohnNida</strong>
                                    <p>
                                        Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </body>
</html>
