<h1>Главные новости</h1>
<% @post.each do |post| %>
<div class="well">


<h3> <%= post.title %> </h3>
<p> <%= post.body %> <%= link_to "Подробнее", post_path(post), :class => 'btn btn-link' %> </p>

</div>
<% end %>
